<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">首頁</a>
            <a href="/register">註冊</a>
            <a href="/login">登入</a>
            <a href="/logout">登出</a>
            <a href="/webshell">Webshell</a>
            {% if session.get('state') == "login" %}
                <p>現在狀態:已登入{{ session.get('username') }}</p>
            {% else %}
                <p>現在狀態:尚未登入</p>
            {% endif %}
        </nav>
    </header>   
    <h2>註冊系統</h2>
    <form action="/register" method="post">
        <h3>電子郵件</h2>
        <p><input type="email" name="email" /></p>
        <h3>使用者名稱</h2>
        <p><input type="text" name="username" /></p>
        <h3>密碼</h2>
        <p><input type="password" name="password" /></p>      
        <p><input type="submit" value="submit" /></p>
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </form>
</body>
</html>